body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5ef;
  background: url("./grid-bg.png");
  background-size: cover;
}

#defaultCanvas0{

    display: flex;
  
    justify-content: center;

    align-items: center;

    position: absolute;
    left: 30%;
    top: 45%;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 235, 236);
  }

  canvas {
    margin: 30px;
    border-radius: 20px;
  }

  
  /* css loader */
  .spinner-wrapper{
    width: 100%;
    height: 100%;
    background-color: #f5f5ef;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.spinner::before,
.spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #ff00cc 0%,#333399 100% );
    animation: spin .5s infinite linear;
}
.spinner:after {
    width: 90%;
    height: 90%;
    background-color: #f5f5ef;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}

#hi {
    visibility: hidden;
}