body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#defaultCanvas0{

    display: flex;
  
    justify-content: center;

    align-items: center;

    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 235, 236);
    box-shadow: 3px 3px 10px #999;
    
  }

  canvas {
    margin: 30px;
    border-radius: 20px;
  }