body {

    /* method -1 use margin to centre the body  */
    /* margin: 155px 50px 75px 80px; */

    display: flex;
  
    justify-content: center;

    align-items: center;

  
    /* preferred method to centre the body */
    /* method-2 : use transform to centre the body    */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 235, 236);
    box-shadow: 3px 3px 13px rgb(61, 60, 60);
    
  }